.nav-items div {
  display: inline-block;
  margin: 0 18px;
}
.logo {
  display: inline-block;
  margin-left: 160px;
  margin-right: 288px;
}
.nav-items {
  display: inline-block;
}

.Icons {
  display: inline-block;
}

.Icons div {
  display: inline-block;
}

.Icons div img {
  width: 30px;
}
