header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  border-radius: 15px;

  /* background-color: #f0f0f0; */
}

hr {
  border: none; /* 기본 테두리 제거 */
  height: 3px; /* 수평선의 높이 설정 */
  background-image: linear-gradient(
    to right,
    #030004,
    #ffffff
  ); /* 그라데이션 배경 설정 */
  margin: 20px auto; /* 위아래 여백 설정 및 수평 가운데 정렬 */
  width: 80%; /* 수평선의 길이 설정 */
}

body {
  background-image: url("https://images.unsplash.com/photo-1516541196182-6bdb0516ed27?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); /* 배경 이미지 추가 */
  background-size: cover; /* 화면에 꽉 차도록 배경 이미지 크기 조절 */
  background-position: center; /* 배경 이미지 중앙 정렬 */

  /* 추가 */
  position: relative;
  isolation: isolate;
}

header,
nav,
article,
footer {
  position: relative;
}

body::after {
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.25);
  z-index: -1;
  inset: 0;
}
#head span:hover {
  color: #ff6b6b;
}

header img {
  width: 100px;
  height: 100px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}
/* Navigation */
#head {
  display: flex;
  text-align: center;
}

#head span {
  margin-right: 20px;
  font-weight: bold;
}

/* Logo Container */
.logo {
  display: flex;
}

.logo img {
  width: 32px;
  margin-right: 10px;
}

.logo img:hover {
  transform: scale(1.1);
}

/* Article Container */
article {
  margin: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
  border-radius: 25%;
}

/* Text */
article span {
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  color: #333; /* 텍스트 색상 지정 */
  margin-bottom: 20px; /* 아래쪽 여백 추가 */
}

/* introduceMyName 클래스 */
.introduceMyName {
  background: linear-gradient(120deg, #686969 -2.06%, #bababa 100%);
  background-clip: text;
  color: transparent; /* 글자 색을 투명하게 */
  font-size: 40px; /* 글자 크기 증가 */
  font-weight: bold; /* 글자 굵기 설정 */
  text-align: center; /* 가운데 정렬 */
  text-transform: uppercase; /* 대문자 변환 */
  letter-spacing: 2px; /* 글자 간격 설정 */
  font-style: italic;
}

/* Profile Image */
article img {
  max-width: 300px;
  justify-content: center;
  border: 5px solid transparent; /* 기본 테두리 설정 */
  border-radius: 50%;
  border-image: linear-gradient(to right, #120410, #eff7ef) 1; /* 그라데이션 효과 설정 */
  background: linear-gradient(to right, #444444, #eff7ef);

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* .tech-stack 스타일 추가 */
.tech-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: whitesmoke;
  /* 그라디언트 배경 */
  padding: 50px; /* 내부 여백 추가 */
  border-radius: 20px; /* 모서리를 부드럽게 만듦 */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
}

/* 첫 번째 div 스타일 수정 */
.tech-stack > div:first-child {
  font-weight: bold;
  font-size: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333; /* 텍스트 색상 추가 */
  margin-bottom: 20px; /* 아래쪽 여백 추가 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* 텍스트 그림자 효과 추가 */
}

/* 두 번째 div 스타일 수정 */
.tech-stack > div:last-child {
  margin-top: 40px; /* 위쪽 여백 수정 */
  background-color: #fff; /* 배경 색상 변경 */
  border: grey solid 5px;
  padding: 20px; /* 내부 여백 추가 */
  border-radius: 10px; /* 테두리 모서리를 부드럽게 만듦 */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
}

/* 이미지 스타일 수정 */
.tech-stack img {
  margin: 15px;
  border: #eff7ef 5px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  transition: transform 0.3s ease;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4); /* 그림자 효과 추가 */
}

.tech-stack img:hover {
  transform: scale(1.3); /* 이미지 확대 */
}
/* 프로젝트 전체 스타일 */
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.projects div {
  padding: 50px;
  border-radius: 10px;
  margin-top: 20px;
}

/* 카드 제목 스타일 */
.projects > div:first-child {
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  font-size: 40px;
  color: #333; /* 텍스트 색상 변경 */
  margin-bottom: 20px;
}

/* 카드 간격 조정 */
.projects > div:last-child {
  margin-top: 20px;
}

/* 카드 스타일 */
.projects div span {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: #f0f0f0;
  margin: 10px;
  line-height: 100px;
}

/* 카드 컨테이너 스타일 */
.projects .card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  justify-content: center;
  margin: 30px;
  background-color: #fefefee8;
  border: white outset 3px;
}

/* 각 카드 스타일 */
.card .card-content {
  width: 200px;
  height: auto;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;

  /* 트랜지션 효과 */
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

/* 호버 시 카드 스타일 변경 */
.card .card-content:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

/* 카드 이미지 스타일 */
.card .card-content img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  border: black solid 3px;
}

/* 카드 설명 텍스트 스타일 */
.card .card-content p {
  margin: 0;
  color: #555; /* 텍스트 색상 변경 */
}
footer {
  background-color: #f8f9fa; /* 푸터 배경색 */
  padding: 20px; /* 내부 여백 */
  text-align: center; /* 텍스트 가운데 정렬 */

  /* 그림자 효과 */
  box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.1);
}

.footer-upper {
  margin-bottom: 20px; /* 아래 여백 */
}

.footer-logo {
  width: 100px; /* 로고 이미지 너비 */
}

.footer-contact a {
  display: inline-block;
  text-decoration: none; /* 밑줄 제거 */
  color: #333; /* 텍스트 색상 */
  margin: 20px 20px; /* 각 링크의 좌우 여백 */
}

.footer-contact a:hover {
  color: #007bff; /* 호버 시 텍스트 색상 변경 */
}

.footer-links img {
  width: 30px; /* 소셜 미디어 아이콘 너비 */
  margin: 0 5px; /* 아이콘 간격 */
}

.hr {
  border-top: 1px solid #ccc; /* 가로 선 스타일 */
  margin: 20px 0; /* 가로 선 위아래 여백 */
}

.madeby {
  font-size: 14px; /* 텍스트 크기 */
  color: #666; /* 텍스트 색상 */
}

.madeby span {
  font-weight: bold; /* 강조 텍스트 굵기 */
}
